@font-face {
    font-family: 'GT American';
    src: url('/GT\ America/GT-America-Expanded-Black.eot');
    src: url('/GT\ America/GT America/GT-America-Expanded-Black.woff') format('woff'), 
        url('/GT\ America/GT America/GT-America-Expanded-Black.woff2') format('woff2'), 
        url('/GT\ America/GT America/GT-America-Expanded-Black') format('truetype'),
}
  
  
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height: 1.5;
}

span{
    margin: 0px;
}

.bulletin_board {
    display: none;
    padding: 15px;
    background-color:rgba(0,0,0,1.0);
    color: white;
    margin: 30px;
}

.bulletin_board span{
    margin-left:0;
}

.icon button{
    padding: 8px;
    background:black;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    outline:none
}

.icon{
    position: fixed;
    right: 60px;
    bottom: 50px;
}

#book_hide{
    display: none;
}

#backdrop img{
    position: fixed;
    z-index: -1;
    left:0;
    top:0;
    width: 100%;
    height: auto;
}

#intro {
    font-size: 0.8em;
}

/* admin module */
#guestbook-admin{
    display: none;
    position: absolute;
    top:20px;
    left: 20px;
    background:white;
    padding: 10px;
    outline: none;
}

#admin-msg{
    box-sizing: border-box;
    outline: none;
}

#admin-buttons button{
    background: none;
    padding: 5px;
    outline: none;
}