* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 20px Helvetica, Arial;
    line-height: 1.5;
}

.bulletin_board {
    display: none;
    background-color: aliceblue;
    
}

.bulletin_board span{
    margin-left:0;
}

.consent button{
    padding: 8px;
    background:none;
    border: 1px solid grey;
    border-radius: 1px;
}
